.charts {
    h4 {
        background: gainsboro;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        padding: 10px;
    }
    span {
        font-style: italic;
        color: #31bfff;
    }
}
