@import '../../../App.scss';

.navigation {
    ul {
        display: none;
        text-align: center;
    }
    a {
        margin-bottom: 10px;
    }
    i {
        margin-left: 4px;
    }
    .menu-open {
        text-align: right;
        &:hover {
            cursor: pointer;
            color: $neonBlue;
        }
    }

}

@media(min-width: 550px) {
    .navigation {
        ul {
            display: block;
            text-align: left;
        }
        button {
            display: none;
        }
        .menu-open {
            display: none;
        }
    }
}
