.navigation ul {
  display: none;
  text-align: center; }

.navigation a {
  margin-bottom: 10px; }

.navigation i {
  margin-left: 4px; }

.navigation .menu-open {
  text-align: right; }
  .navigation .menu-open:hover {
    cursor: pointer;
    color: #31bfff; }

@media (min-width: 550px) {
  .navigation ul {
    display: block;
    text-align: left; }
  .navigation button {
    display: none; } }
