.mobile-menu {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-600px, 0, 0);
  z-index: 10;
  transition: all .5s ease-out; }
  .mobile-menu .menu-close {
    position: absolute;
    right: 18px;
    top: 24px; }
    .mobile-menu .menu-close:hover {
      color: #31bfff;
      cursor: pointer; }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center; }
    .mobile-menu ul a {
      margin-bottom: 7px; }
  .mobile-menu i {
    margin-left: 4px; }

.mobile-menu-active {
  transform: translate3d(0, 0, 0); }

@media (min-width: 550px) {
  .mobile-menu {
    display: none; } }
